.uListContainer{
    width: 100vw;
    display: flex;
    height: 100px;
    margin-top: -23px;

}

.uList{
    display: flex;
    background-color: #1c1c1c;
    width: 100%;
    justify-content:center;
}

.uList li{
    text-decoration: none;
    color: white;


    margin: 20px;
    display: flex;


}

.leenk{
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.leenk:hover{
    color: #ff7b06;
    transition: .2s;

}