.catalogueContainer {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  align-items: flex-start;
  flex-direction: column;
}

.productCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.productCard {
  display: flex;
  width: 25%;
  max-height: 40rem;
  margin: 0 auto;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  width: 30%;
}

@media (max-width: 1300px) {
  .productCard {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .productCardContainer {
    margin-top: 2rem;
  }
  .productCard {
    width: 85%;
    margin: 0 auto;
  }
}
